<div class="galapagos_last_minutes_title">
  <h1>Galapagos Last Minutes and Deals</h1>
</div>
<div class="galapagos_last_minutes_middle">
  <% @last_minute_offers.limit(2).each do |last_minute_offer| %>
    <div class="galapagos_last_minutes_text">                 
      <h2><%= link_to last_minute_offer.name, tours_path(last_minute_offer.category.parent, last_minute_offer.category, last_minute_offer) %></h2>
      <%= link_to image_tag(last_minute_offer.main_tour_image.attachment.url(:original), :width => 132, :height => 76, :style => "float:left"), tours_path(last_minute_offer.category.parent, last_minute_offer.category, last_minute_offer) %>
      <p><%= last_minute_offer.overview.html_safe[0, 80] %>...</p>
      <p><%= link_to "More Info ++", tours_path(last_minute_offer.category.parent, last_minute_offer.category, last_minute_offer) %></p>                                   
    </div>
  <% end %>
</div>
<div class="galapagos_last_minutes_end"></div>