<div class="form">
  <p>
    <label>Name</label>
    <%= form.text_field :name, :class => "field size1" %>
  </p>	
  <p>
    <label>Surname</label>
    <%= form.text_field :surname, :class => "field size1" %>
  </p>	
</div>