<div class="contentblock col six">
	<h2>Admin</h2>
	<ul class="actionlist">
		<li><%#= link_to "View All Companies", admin_companies_path %></li>
		<li><%#= link_to "Create a Company", new_admin_company_path %></li>
	</ul>
</div>

